{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<form class="{{cssClass}} {{item.type}} {{template}} custom-system-actor" autocomplete="off">
    <div class="custom-system-actor-content">
        {{!-- Sheet Header --}}
        <header class="sheet-header">
            <div
                class="profile-img-container"
                style="width: {{display.pp_width}}px; height: {{display.pp_height}}px; flex: 0 0 {{display.pp_width}}px"
            >
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            </div>
            <div class="header-fields">
                <h1 class="itemname">
                    <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                </h1>

                {{#if canReload}}
                <div class="custom-system-sheet-actions">
                    <div class="custom-system-template-select">
                        <label for="{{item.id}}-template"> Template : </label>

                        <select id="{{item.id}}-template" name="system.template">
                            {{#select system.template}} {{#each availableTemplates}}
                            <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}} {{/select}}
                        </select>
                        <a class="custom-system-reload-template"><i class="fas fa-sync"></i></a>
                        <a class="custom-system-open-template"><i class="fas fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                {{/if}} {{#if isEditable}}
                <div class="custom-system-sheet-actions">
                    {{#unless isEmbedded}}
                    <label>
                        Make item unique
                        <input
                            type="checkbox"
                            name="system.unique"
                            class="custom-system-item-unique"
                            {{checked
                            system.unique}}
                        />
                    </label>
                    {{/unless}} {{#if canEditModifiers}}
                    <input type="button" class="custom-system-configure-modifiers" value="Configure item modifiers" />
                    {{/if}}
                </div>
                {{/if}}

                <div class="custom-system-customHeader"></div>
            </div>
        </header>

        <div class="custom-system-customBody"></div>
    </div>
</form>
