{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}

<p>Please enter tab name and key.</p>
<p>Name can be anything, key must be lowercase alphanumeric, and unique among tabs.</p>
<div><label for="tab-name">Tab name : </label><input type="text" id="tab-name" value="{{name}}" /></div>
<div><label for="tab-key">Tab key : </label><input type="text" id="tab-key" value="{{key}}" /></div>
<div class="custom-system-form-field">
    <label for="tab-tooltip">Tab's tooltip (shown when hovering over the tab name)</label>
    <input type="text" id="tab-tooltip" value="{{tooltip}}" data-key="tooltip" />
</div>

<div class="custom-system-collapsible-block">
    <div class="custom-system-collapsible-block-title">
        Advanced configuration    <hr/>

    </div>
    <div class="custom-system-collapsible-block-hide">
        <div class="custom-system-form-field">
            <label for="tabRole">Minimum role to see the tab</label>
            <select id="tabRole" data-key="role">
                {{selectOptions roleList selected=role localize=true}}
            </select>
        </div>
        <div class="custom-system-form-field">
            <label for="tabPerm">Minimum permission to see the tab</label>
            <select id="tabPerm" data-key="permission">
                {{selectOptions permissionList selected=permission localize=true}}
            </select>
        </div>
        <div class="custom-system-form-field">
            <label for="tabVisible">Visibility formula<br />Tab will be visible if this formula resolves to true<br />Enclosing ${}$ should not be added here</label>
            <input type="text" id="tabVisible" value="{{visibilityFormula}}" data-key="visibilityFormula"/>
        </div>
    </div>
</div>