{{! Copyright 2024 Jean-Baptiste Louvet-Daniel
    - 
    - This Source Code Form is subject to the terms of the Mozilla Public
    - License, v\. 2\.0\. If a copy of the MPL was not distributed with this
    - file, You can obtain one at https://mozilla\.org/MPL/2\.0/\. }}
 
 <table class="custom-system-attribute-bars">
     <thead>
         <tr>
             <th>Name</th>
             <th>Value</th>
             <th></th>
         </tr>
     </thead>
     <tbody>
         {{#each attributeBars}} {{#if this.value}}
         <tr class="custom-system-attribute-bar">
             <td>
                 {{this.key}}
             </td>
             <td>
                 {{this.value}} / {{this.max}}
             </td>
             <td>
                 <meter value="{{this.value}}" max="{{this.max}}">{{this.value}} / {{this.max}}</meter>
             </td>
         </tr>
         {{/if}} {{/each}}
     </tbody>
 </table>
 